@import url('./root.css');
body {
    width: 100vw;
    overflow-x: hidden;
}
/* #home-face {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home/gabriel\ ghnassia\ A9h6OsAxTyQ\ unsplash.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */
#homepage .head-title,
#facilitiespage .head-title {
    margin: 40px 0;
    text-align: center;
    color: var(--dark-blue-primary);
}

#facilitiespage .head-title p:first-child {
    font-size: 40px;
    text-transform: uppercase;
}

#facilitiespage .head-title p:last-child {
    margin: 20px 0;
    line-height: 1.5;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.button-primary {
    border-radius: 10px;
    background-color: var(--yellow-primary);
    color: white;
    font-weight: bold;
    border: none;
    transition: box-shadow 0.25s;
}
.button-primary:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px var(--yellow-primary);
}
